# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask==1.1.1

# Flask Packages
pymysql==0.9.3
influxdb==5.2.3


# Automated tests
